h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.task-name {
  align-items: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.1em;
    color: #0f2f8f;
    font-style: italic;
   display: flex;
   justify-content: center;
}

.task-name:hover {
  color: blueviolet;
  font-weight: 500;
    font-size: 50px;
}